@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Work Sans", sans-serif;
}

.hero {
  height: 250px;
  min-width: 375px;
  background-image: url("background-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.header h1 {
  font-size: 32px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}
.faqcls {
  background: hsl(0, 100%, 100%);
  width: 60%;
  max-width: 350px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  margin: -110px auto 40px auto;
}
.faq-item {
  padding: 3px;
  border-bottom: 1px solid #eee;
}
.faq-item:last-child {
  border-bottom: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  color: hsla(274, 3%, 49%, 0.904);
  font-size: 14px;
}
.faq-item:hover {
  color: hsl(292, 16%, 49%);
}

.faq-item.active .answer {
  max-height: 1000px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}
.question h3 {
  font-size: 16px;
  font-weight: 600;
}
.question img {
  width: 24px;
  transition: transform 0.2s ease;
}
.faq-item.active .question img {
  transform: rotate(180deg); /*to rotate*/
}

strong {
  font-size: 45px;
}
@media (min-width: 375px) {
  .faqcls {
    margin: -110px auto 40px auto;
    max-width: 600px;
    padding: 40px;
  }
  .header h1 {
    font-size: 48px;
  }
  .question h3 {
    font-size: 18px;
  }
  .answer {
    font-size: 16px;
  }
}
